.anchor {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: black;
  z-index: 3;

  &__block {
    margin-bottom: 20px;
    width: calc(25% - 20px);
  }

  &__line {
  height: 2px;
  background-color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

&__link {
  font-size: $font-size-s;
  font-weight: 500;
  color: #fff;
  transition: all .3s linear;
}

&__link:hover {
  color: #F38281;
}

&__link span {
  font-size: $font-size-xl;
  font-weight: 700;
}
}
