.column {
  width: calc(33.33% - 30px);
  display: flex;
  flex-direction: column;
  gap: 30px;


  &__image-wrapper {
    position: relative;
  }

  &__date {
    position: absolute;
    top: 58%;
    left: -4%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  &__title {
    font-size: $font-size-m;
    font-weight: 700;
  }

  &__subtitle {
    font-size: $font-size-s;
    font-weight: 400;
  }

  &__wrapper-icon {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: flex-start;
  }

  &__icon {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: $font-size-xxs;
    font-weight: 400;
  }
}
