.design {
  background-image: url(../images/design-background.jpg);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: -2;
  }

  &__content {
    position: relative;
    z-index: 3;
    margin-bottom: 57px;
  }

  &__laptop {
    padding-top: 24px;
  }

  &__mobile {
    position: absolute;
    top: 55%;
    left: 66%;
  }
}
