.footer {
  background-color: #F8F8F8;

  &__content {
    margin-top: 78px;
  }

  &__inner {
    display: flex;
    gap: 20px;
  }

  &__column {
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: $font-size-m;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__caption {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: $font-size-xxs;
    font-weight: 400;
    color: #2D3033;
    text-transform: uppercase;
    transition: all .3s ease;
  }

  &__caption:hover {
    color: #95E1D3;
  }

  &__copyright {
    font-size: $font-size-xxs;
    font-weight: 700;
    color: #2D3033;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__separator {
    height: 1px;
    background-color: #C6CBCD;
    width: 100%;
    margin-top: 42px;
  }

  &__form {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  &__email {
    border: none;
    border: 1px solid #C6CBCD;
    background: none;
    outline: none;
    padding: 16px 10px;
    font-size: $font-size-s;
    font-weight: 400;
    color: #C6CBCD;
    margin-right: -5px;
    transition: all .1s ease-in-out;
    text-align: center;
  }

  &__btn {
    padding: 17px 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-s;
    color: #fff;
    border: 1px solid #C6CBCD;
    background-color: #95E1D3;
    transition: all .2s ease-in-out;
  }
}
