.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px; //because the "header" is unlikely to change
  }
}
