.headline {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 42px;

  &__description {
    font-family: 'Kaushan Script', cursive;
    font-size: $font-size-l;
    font-weight: 400;
  }

  &__title {
    text-transform: uppercase;
    font-size: $font-size-xl;
    font-weight: 900;
  }

  &__separator {
    width: 170px;
    height: 4px;
    background-color: #F38281;
    margin-top: 24px;
  }

  &__text {
    margin-top: 24px;
    font-size: $font-size-s;
    font-weight: 400;
  }
}
