.media {
  display: flex;
  flex-direction: column;

  &__separator {
    width: 100%;
    height: 1px;
    background-color: #C6CBCD;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__info {
    font-style: italic;
    font-weight: 400;
    font-size: $font-size-s;
  }

  &__info span {
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-s;
  }

  &__caption {
    font-style: italic;
    font-weight: 400;
    font-size: $font-size-xxs;
    color: #C6CBCD;

  }

  &__menu {
    display: flex;
    gap: 11px;
    justify-content: space-between;
  }
}
