.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //gap: 15px;
    list-style-type: none;
    //margin-left: 0;
    //padding-left: 0;
    text-transform: uppercase;
  }

  &__item {
    padding-left: 35px;
  }

  &__icon {
    padding-left: 35px;
  }
}
