.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 576px) {
    display: none;
  }

  &__burger,
  &__burger-label {
    display: none;
    color: $color-white;
    font-size: $font-size-s;
  }


  &__burger-list {
    width: 100%;
    display: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__burger:checked + &__burger-label + &__burger-list {
    display: block;
  }

  &__burger-label {

    @media (max-width: 576px) {
      display: block;
      padding-right: 30px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
  }

  &__link {
    font-size: $font-size-xs;
    font-weight: 600;
    color: $color-white;
    transition: all .3s ease;
  }

  &__link:hover {
    color: $color-yellow;
  }

  &__item {
    padding-left: 35px;
    position: relative;
    width: 100px;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  &__item:hover:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-yellow;
    position: absolute;
    top: 25px;
    left: 0;
  }

  &__icon {
    padding-left: 35px;
  }
}
