.service {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__image-wrapper {
    width: 50%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__drop-down {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 22px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-size: $font-size-s;
    width: 100%;
    height: 163px;
    display: none;
    //overflow-y: scroll;
  }

  &__cover {
    transition: all 0.4s ease-out;
    cursor: pointer;
  }

  &__cover:hover > &__text {
    display: initial;
    cursor: pointer;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  &__icon_arrow {
    padding-right: 40px;
  }

  &__name {
    text-transform: uppercase;
    font-size: $font-size-m;
    font-weight: 700;
  }
}
