.team {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
  margin-bottom: 78px;

  @media (max-width: 1024px) {
    gap: 30px;
  }

  @media (max-width: 768px) {
    gap: 17.57px;
  }

  @media (max-width: 576px) {
    flex-wrap: wrap;
  }

  &__item {
    text-align: center;
    position: relative;

    @media (max-width: 1024px) {
      width: calc(33.33% - 30px);
    }

    @media (max-width: 768px) {
      width: calc(33.33% - 17.57px);
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__link:hover:after {
    content: "";
    width: 100%;
    height: 100%;
    top: -16px;
    left: -16px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    position: absolute;
    z-index: 0;

    @media (max-width: 1024px) {
      width: 100%;
      height: 100%;
      top: -16px;
      left: -16px;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      top: -16px;
      left: -16px;
    }

    @media (max-width: 576px) {
      width: 100%;
      height: 25%;
      top: 75%;
      left: 0px;
    }
  }

  &__content {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;

    @media (max-width: 576px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }
  }

  &__link:hover &__content {
    visibility: visible;
    z-index: 1;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;

    @media (max-width: 576px) {
      top: 88%;
    }
  }

  &__text {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: $color-white;
  }
}
