$font-size-xxs: 0.8123rem; //13px
$font-size-xs: 0.875rem; //14px
$font-size-s: 1.125rem; //18px
$font-size-m: 1.5rem; //24px
$font-size-l: 1.875rem; //30px
$font-size-xl: 2.25rem; //36px
$font-size-h2: 4rem; //64px
$font-size-h1: 9rem; //144px
