@import './variable';
@import './reset';
@import './utilites';
@import './container';
@import './header';
@import './menu';
@import './banner';
@import './design';
@import './headline';
@import './grid';
@import './team';
@import './service';
@import './blog';
@import './column';
@import './our-team';
@import './anchor';
@import './gallery';
@import './card';
@import './media';
@import './footer';
